{% extends 'homepage.html' %}
{% load static %}
{% block logo %}
  <a href="{% url 'KPIndustry:homepage' %}"><img src="{% static 'Logo.png' %}" height="100"></a>
{% endblock %}

{% block banner2 %}
  {% if request.user.is_authenticated %}
      <p style="margin:0px; text-align: center">Logged in as:</p>
      <p style="margin: 0px; font-weight: bold; text-align: center">{{ request.user.first_name }} {{ request.user.last_name }}</p>
  {% endif %}
{% endblock %}

{% block content2 %}

        <table class="content-table">
            <thead>
                <tr>
                    <th colspan="7" style="background-color: rgba(0,0,0,0.2)">Manage Your Projects</th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Project Name</th>
                    <th>Lead Testers</th>
                    <th>Testers</th>
                    <th>Started</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in projects %}
                    {% if request.user.first_name in item.project_manager and request.user.last_name in item.project_manager %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.project_name }}</td>
                            <td>
                                <select class="add-box" style="text-align: center">
                                    <option>
                                        -- Lead Tester List --
                                    </option>
                                    {% for user in users %}
                                        {% if user.user_type == "Lead Tester" and user.on_project == item.project_name %}
                                            <option>
                                                {{ user.first_name }} {{ user.last_name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select  class="add-box" style="text-align: center">
                                    <option>
                                        -- Tester List --
                                    </option>
                                    {% for user in users %}
                                        {% if user.user_type == "Tester" and user.on_project == item.project_name %}
                                            <option>
                                                {{ user.first_name }} {{ user.last_name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.project_activity }}</td>
                            <td style="padding: 0px">
                                <a class="edit-btn" href="{% url 'KPIndustry:manage-project' item.id %}" style="border: 1px solid rgba(255, 174, 0, 0)">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

{% endblock %}