{% extends 'registration/login.html' %}

{% block content %}
  <div style="padding-top: 5px; width: 100%; height: 100%">
    <div  class="content-area login">
      <h3 style="width: 100%; text-align: center">Enter registered eMail for the password reset bellow</h3>
      <div style="width: 100%; text-align: center">
        <input class="add-box" style="width: 200px">
      </div>
      <div style="width: 100%; text-align: center; padding-top: 20px">
        <a class="li-btn" href="">Reset Password</a>
      </div>
    </div>
  </div>
{% endblock %}