{% extends 'homepage.html' %}


{% block content2 %}
  <form method="post">
    {% csrf_token %}
    <table class="content-table">
      <tr>
        <th colspan="7" style="background-color: rgba(0,0,0,0.2)">
          Add To Database
        </th>
      </tr>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>eMail</th>
        <th>Username</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>
          <input class="form-control add-box" name="first_name" required>
        </td>
        <td>
          <input class="form-control add-box" name="last_name" required>
        </td>
        <td>
          <input class="form-control add-box" name="email" required>
        </td>
        <td>
          <input class="form-control add-box" name="username" required>
        </td>
        <td rowspan="3" style="width: 1px">
          <button style="width: 70px; height: 40px" class="box-btn" type="submit">Register</button>
        </td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <th>Work Location</th>
        <th>Gross Salary</th>
        <th>User Type</th>
      </tr>
      <tr>
        <td>
          <input class="form-control add-box" name="phone_number" type="text" inputmode="numeric" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" required>
        </td>
        <td>
          <select class="choose-box" name="work_location" required>
            <option selected disabled>Select Work Location</option>
            {% for location in work_locations %}
              <option value="{{location}}">{{location}}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <input class="form-control add-box" name="gross_salary" required>
        </td>
        <td>
          <select class="choose-box" name="user_type" required>
            <option selected disabled>Select User Type</option>
            <option value="Administrator">Administrator</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Lead Tester">Lead Tester</option>
            <option value="Tester">Tester</option>
          </select>
        </td>
      </tr>
    </table>
  </form>
  <div style="height: 5px"></div>
  <div class="user-overflow">
    <table class="content-table">
      <tr>
        <th colspan="99" style="background-color: rgba(0,0,0,0.2)">
          Manage Database
        </th>
      </tr>
      <tr>
        <th>Index</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>eMail</th>
        <th>Phone Number</th>
        <th>Username</th>
        <th>User Type</th>
        <th>On Project/s</th>
        <th>Work Location</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
      <tbody>
        {% for item in objects %}
          <tr style="height: 42px">
            <td>{{item.id}}</td>
            <td>{{item.first_name}}</td>
            <td>
              <a style="color: black" href="{% url 'KPIndustry:pers-view' pk=item.id %}">{{item.last_name}}</a>
            </td>
            <td>{{item.email}}</td>
            <td>{{item.phone_number}}</td>
            <td>{{item.username}}</td>
            <td>{{item.user_type}}</td>
            <td>
              {% if item.user_type == "Project Manager" %}
                <select class="add-box" style="text-align: center" onchange="projectRedirect()" id="project_redirect">
                  <option selected disabled>-- Projects list --</option>
                  {% for project in projects %}
                    {% if item.first_name in project.project_manager and item.last_name in project.project_manager %}
                      {% if project.active %}
                        <option value="{{project.id}}">{{ project.project_name }}</option>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
                {{ item.on_project }}
              {% endif %}
            </td>
            <td>{{item.work_location}}</td>
            <td>{{item.is_active}}</td>
            <td style="max-width: 75px; width: 75px">
              {% if item.first_name != request.user.first_name %}
                  <table class="custom-table" style="border-collapse: collapse; width: 100%">
                    <tr>
                      <td style="padding: 0px">
                        <a class="edit-btn" href="{% url 'KPIndustry:update-user' item.id %}">Edit</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px">
                        {% if item.is_active == True %}
                        <a class="deactivate-btn" href="{% url 'KPIndustry:deactivate-user' item.id %}">Deactivate</a>
                        {% else %}
                        <a class="reactivate-btn" href="{% url 'KPIndustry:reactivate-user' item.id %}">Reactivate</a>
                        {% endif %}
                      </td>
                    </tr>
                  </table>
              {% else %}
                <p class="action-err-txt">Current</p>
                <p class="action-err-txt">Login</p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}