{% extends 'base.html' %}
{% load static %}
{% block logo %}
  <a href="{% url 'KPIndustry:homepage' %}"><img src="{% static 'Logo.png' %}" height="100"></a>
{% endblock %}

{% block banner2 %}
  {% if request.user.is_authenticated %}
  <p>Logged in as:</p>
  <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
  {% endif %}
{% endblock %}

{% block content %}
  <div style="padding-top: 5px; height: calc(100% - 5px); width: calc(100% - 20px - 200px)">
    <div class="content-area">
      {% block content2 %}
        <h1 style="width: 100%; text-align: center">KPI Tracker made by Adrian Martin</h1>
        <h2>Manage Users:</h2>
        <p>The main control panel for managing users</p>
      {% endblock %}
    </div>
  </div>
  <div class="menu-area">
    <p class="top-text">Main Menu</p>
    <div class="menu-btns">
        <a style="text-decoration: none" href="{% url 'KPIndustry:manage-users' %}">
          <p class="menu-btn">Manage Users</p>
        </a>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
      <p class="menu-btn">Button</p>
    </div>
    <form action="{% url 'KPIndustry:logout' %}" method="post">
      {% csrf_token %}
      <button class="lo-btn" type="submit">
        Logout
      </button>
    </form>
  </div>
{% endblock %}