{% extends 'base.html' %}
{% load static %}
{% block logo %}
  <a href="{% url 'KPIndustry:homepage' %}"><img src="{% static 'Logo.png' %}" height="100"></a>
{% endblock %}

{% block banner2 %}
  {% if request.user.is_authenticated %}
      <p style="margin:0px; text-align: center">Logged in as:</p>
      <p style="margin: 0px; font-weight: bold; text-align: center">{{ request.user.first_name }} {{ request.user.last_name }}</p>
  {% endif %}
{% endblock %}

{% block content %}
  <div style="padding-top: 5px; height: calc(100% - 5px); width: calc(100% - 20px - 200px)">
    <div class="content-area">
      {% block content2 %}
        <h1 style="text-align: center; width: 100%">KPI Tracker made by Adrian Martin</h1>
        {% for item in users %}
            {% if item.id == request.user.id %}
                {% if item.user_type == "Administrator" %}
                    <h3>Manage Users</h3>
                    <p style="margin-left: 15px">It's the place where you can see the whole list of registered users and change some of their data or even deactivate them.</p>
                    <p style="margin-left: 15px">You can also see each person's individual info by clicking on their name or see project information by selecting it from the Project Manager's
                    project dropdowns.</p>
                    <p style="margin-left: 15px">Unique Fields (can never exist 2 instances with the same): Username.</p>
                    <h3>Manage Projects</h3>
                    <p style="margin-left: 15px">The place to create or modify projects like changing name or switching Project Managers.</p>
                    <p style="margin-left: 15px">Please note that once a project is closed, it cannot be reopened and a new instance has to be created!</p>
                    <h3>Manage Locations</h3>
                    <p style="margin-left: 15px">You can manage the work locations which are assigned to the people registered.</p>
                    <p style="margin-left: 15px">Please note that you have to press the search button in order to get the latitude and longitude of the location!</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for item in users %}
            {% if item.id == request.user.id %}
                {% if item.user_type == "Project Manager" %}
                    <h3>View Your Projects</h3>
                    <p style="margin-left: 15px">You can see your allocated projects and manage them.</p>
                    <p style="margin-left: 15px">In the managing screen, you can add or remove Testers and Lead Testers from the project while also changing the description of the project.</p>
                    <p style="margin-left: 15px">The managing screen also contains KPI metrics for the projects such as: Ticket Report Overview (For Today and on Average) and Test Cases Overview (For Today and Average)</p>
                    <p style="margin-left: 15px">You can also click on the names inside the manager in order to see more specific information and KPI</p>
                    <p style="margin-left: 15px">Please make sure to remove any Lead Testers and Testers from the project whenever it is closed!</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for item in users %}
            {% if item.id == request.user.id %}
                {% if item.user_type == "Tester" %}
                    <h3>Project Report</h3>
                    <p style="margin-left: 15px">You can see and fill in your report for Today on the Currently Allocated Project.</p>
                    <p style="margin-left: 15px">Available data to be completed:</p>
                    <p style="margin-left: 15px">- Test Cases KPIs: Note down the number of test cases remaining of each category before clocking out</p>
                    <p style="margin-left: 15px">- Reported Issues KPIs: Fill and save throughout your day</p>
                    <p style="margin-left: 15px">- Testing Overview: Note down any key aspects or information gathered throughout the testing process</p>
                    <p style="margin-left: 15px">Make sure to save the report regularly!</p>
                    <p style="margin-left: 15px">Please note that when you are transferred to another project, a new report for that project will be generated!</p>
                    <p style="margin-left: 15px">If you have saved data for a project report in a day, the report will be available and will be shown when reassigned on that project!</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <h3>Personal Info</h3>
        <p style="margin-left: 15px">The place to see all your user information and results assessment which differs for every user type: KPI for Testers and project info for Project Managers</p>
        <p style="margin-left: 15px">Please note that testers cannot see other people's info, but Lead Testers and up can see everyone's info!</p>
      {% endblock %}
    </div>
  </div>
  <div class="menu-area">
    <p class="top-text">Main Menu</p>
    <div class="menu-btns">
        {% for item in users %}
            {% if item.id == request.user.id %}
                {% if item.user_type == "Administrator" %}
                    <a style="text-decoration: none" href="{% url 'KPIndustry:manage-users' %}">
                      <p class="menu-btn">Manage Users</p>
                    </a>
                    <a style="text-decoration: none" href="{% url 'KPIndustry:manage-projects' %}">
                      <p class="menu-btn">Manage Projects</p>
                    </a>
                    <a style="text-decoration: none" href="{% url 'KPIndustry:manage-locations' %}">
                      <p class="menu-btn">Manage Locations</p>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for item in users %}
            {% if item.id == request.user.id %}
                {% if item.user_type == "Project Manager" %}
                    <a style="text-decoration: none" href="{% url 'KPIndustry:view-projects' %}">
                      <p class="menu-btn">View Your Projects</p>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for item in users %}
            {% if item.id == request.user.id %}
                {% if item.user_type == "Tester" %}
                    {% if item.on_project != "None" %}
                        {% for rep in report %}
                            {% if rep.on_project == item.on_project %}
                                <a style="text-decoration: none" href="{% url 'KPIndustry:daily-report' rep.id %}">
                                    <p class="menu-btn">Project Report</p>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <a style="text-decoration: none" href="{% url 'KPIndustry:pers-view' request.user.id %}">
          <p class="menu-btn">Personal Info</p>
        </a>
        {% if request.user.is_superuser == True %}
          <a style="text-decoration: none" href="{% url 'admin:index' %}">
            <p class="menu-btn">Admin Panel</p>
          </a>
        {% endif %}
    </div>
    <form action="{% url 'KPIndustry:logout' %}" method="post">
      {% csrf_token %}
      <button class="lo-btn" type="submit">
        Logout
      </button>
    </form>
  </div>
{% endblock %}